version: 2.1

executors:
  docker-executor:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/repo

jobs:
  build:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker Image
          command: docker build -t billing-system-api .

  deploy:
    executor: docker-executor
    steps:
      - run:
          name: Install sshpass
          command: |
            sudo apt-get update
            sudo apt-get install -y sshpass
      - run:
          name: Deploy to Server
          command: |
            sshpass -p "$SERVER_PASSWORD" ssh -o StrictHostKeyChecking=no administrator@69.197.187.23 \<<EOF
              cd Billing-System-API
              git pull origin main
              docker-compose down
              docker-compose up --build -d
            EOF

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
